body {
    background-image: url("http://home.bt.com/images/alcatraz-prison-136396973739603901-150320113825.jpg");
    background-color: gray;
}

h1 {
    margin-left: 20px;
}

p {
    margin-left: 12px;
}

header {
    color: lightblue;
}
